[user]
	name = Christopher Haverman
	email = chaverman@trulia.com
[alias]
	alias = !git config --get-regexp 'alias.*'
    cdup = !cd $(git rev-parse --show-cdup)
	co = checkout
	diffhead = diff HEAD^ HEAD
	ft = !git fetch && git status
	lg = log
	st = status
[mergetool]
	keepBackup = true
[color]
	ui = true
[core]
	pager = less
; May be necessary?
;[diff]
;    external = git-diff
[pull]
    rebase = true
[merge]
	conflictstyle = diff3
